 *{
    padding: 0;
    margin: 0;
    font-family: 'Hind Siliguri', sans-serif;
    box-sizing: border-box;
}

.info-section{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    background: #476696;
    padding: 54px;
    height: 100%;
     
}
.info-section .info-box{
    position: absolute;
    padding: 5%;
    top: 200px;
        
}
.info-section .info-box h4{
    font-size: 1.2rem;
    color: white;
    margin: 0.7rem 0;
}
.info-section .info-box p{
    font-size: 0.9rem;
    font-weight: 300;
    color:white;
    margin: 0.2rem 0 1.6rem;

}
.info-section .icon-section{
    color: white;
    font-size: 0.5rem;
    display: inline-block;
    margin-left: -10%;
}

.info-section .logo img{
  /*  float: left;
    font-size: 5rem;
    text-align: center;*/
     margin-left: 10%; 
     margin-top: 5%;
     height: 100px;
     width: 100px;
     
}
.info-box .icon-section a{
    color: white;
    text-decoration: none;
    padding: 0 0.5rem;
    display: inline-block;
    font-size: 1.7rem;
    transition: ease-in-out 0.2s

}
.info-box .icon-section a:hover{
    color: #9FB3D6;
    
}
/*------------Resume-----------------------*/
.resume-section  {
    
    background: white;
    width: 90%;
    height: 100%;
    padding: 0 0 0 30%;
    text-align: center;
   
}
.resume-section h1{
    /*background:#476696 ;*/
   /* border: 2px solid #1A3969;*/
    color:white;
    margin: 10px 0;
    border: 1px solid #9FB3D3;
    border-radius: 5px;
    font-weight: 100;
    background-color: #1A3969;
 }
.resume-section #education{
   text-align: center;
   width: 100%;
   
}
.resume-section #education .foster{
    display:inline-block;
    width: 30%;
    padding: 10px 5px;
    margin: 1% 1%;
    color: black;
    background-color: whitesmoke;
    overflow: hidden;
    height: 50vh;
    border-radius: 10px;
 }
 .resume-section #education .foster:hover{
    -webkit-box-shadow: 16px 20px 40px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 20px 40px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 15px 25px -10px rgba(0,0,0,0.75);
     transition: ease-in-out 0.3s;
 }
 
 .resume-section #education .highline{
    display:inline-block;
    width: 30%;
    padding: 10px 5px;
    margin: 1% 1%;
    color: black;
    background-color: whitesmoke;
    overflow: hidden;
    height: 50vh;
    border-radius: 10px;

 }
 .resume-section #education .highline:hover{
    -webkit-box-shadow: 16px 20px 40px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 20px 40px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 15px 25px -10px rgba(0,0,0,0.75);
     transition: ease-in-out 0.3s;
 }
 .resume-section #education .rockwell{
    display:inline-block;
    width: 30%;
    padding: 10px 5px;
    margin: 1% 1%;
    color: black;
    background-color: whitesmoke;
    overflow: hidden;
    height: 50vh;
    border-radius: 10px;

 }
 .resume-section #education .rockwell:hover{
    -webkit-box-shadow: 16px 20px 40px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 20px 40px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 15px 25px -10px rgba(0,0,0,0.75);
     transition: ease-in-out 0.3s;
 }

 .resume-section #work-experience{
   
    width: 100%;
    
 }
 .resume-section #work-experience .rainier{
    display:inline-block;
    width: 30%;
    padding: 10px 5px;
    margin: 1% 1%;
    color: black;
    background-color: whitesmoke;
    overflow: hidden;
    height: 50vh;
    border-radius: 10px;

  }
  .resume-section #work-experience .rainier:hover{
    -webkit-box-shadow: 16px 20px 40px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 20px 40px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 15px 25px -10px rgba(0,0,0,0.75);
     transition: ease-in-out 0.3s;
 }
  .resume-section #work-experience .keller-williams{
    display:inline-block;
    width: 30%;
    padding: 10px 5px;
    margin: 1% 1%;
    color: black;
    background-color: whitesmoke;
    overflow: hidden;
    height: 50vh;
    border-radius: 10px;

  }
  .resume-section #work-experience .keller-williams:hover{
    -webkit-box-shadow: 16px 20px 40px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 20px 40px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 15px 25px -10px rgba(0,0,0,0.75);
     transition: ease-in-out 0.3s;
 }
  .resume-section #work-experience .keywords{
    display:inline-block;
    width: 30%;
    padding: 10px 5px;
    margin: 1% 1%;
    color: black;
    background-color: whitesmoke;
    overflow: hidden;
    height: 50vh;
    border-radius: 10px;

  }
  .resume-section #work-experience .keywords:hover{
    -webkit-box-shadow: 16px 20px 40px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 20px 40px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 15px 25px -10px rgba(0,0,0,0.75);
     transition: ease-in-out 0.3s;
 }
  .resume-section #skills{
   
    width: 100%;
    
 }
 .resume-section #skills .html-css-javascript{
    display:inline-block;
    width: 30%;
    padding: 10px 5px;
    margin: 1% 1%;
    color: black;
    background-color: whitesmoke;
    height: 50vh;
    overflow: hidden;
    border-radius: 10px;

  }
  .resume-section #skills .html-css-javascript:hover{
    -webkit-box-shadow: 16px 20px 40px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 20px 40px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 15px 25px -10px rgba(0,0,0,0.75);
     transition: ease-in-out 0.3s;
 }
  .resume-section #skills .html-emails{
    display:inline-block;
    width: 30%;
    padding: 10px 5px;
    margin: 1% 1%;
    color: black;
    background-color: whitesmoke;
    height: 50vh;
    overflow: hidden;
    border-radius: 10px;

  }
  .resume-section #skills .html-emails:hover{
    -webkit-box-shadow: 16px 20px 40px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 20px 40px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 15px 25px -10px rgba(0,0,0,0.75);
     transition: ease-in-out 0.3s;
 }
  .resume-section #skills .responsive-design{
    display:inline-block;
    width: 30%;
    padding: 10px 5px;
    margin: 1% 1%;
    color: black;
    background-color: whitesmoke;
    height: 50vh;
    overflow: hidden;
    border-radius: 10px;

  }
  .resume-section #skills .responsive-design:hover{
    -webkit-box-shadow: 16px 20px 40px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 20px 40px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 15px 25px -10px rgba(0,0,0,0.75);
     transition: ease-in-out 0.3s;
 }

.dropbtn {
    background-color: white;
    padding: 20px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 16px;
    top: 6px;
    color: #476696;
    font-size: 1.3rem;
    padding: 10px;
    z-index: 1000;  
    width: 3%;
}
.drop-down {
    position: relative;
    display: inline-block;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 3px;

}
.dropdown-content a {
    color: #476696;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 1px;
    transition: ease-in-out 0.2s

}
.dropdown-content a:hover {
    background-color: #1A3969;

}
.drop-down:hover .dropdown-content {
    display: block;
    right: 0;
}
.dropdown-content a:hover  {
    color: #9FB3D3;
}


 